<table border="1">
  <tr>
    <th>ISBNコード</th><th>書名</th><th>価格</th>
    <th>出版社</th><th>刊行日</th><th>CD-ROM</th>
  </tr>

<% @books.each do |book| %>
  <tr style= "background-color:<%= cycle('#FFffFF', '#FFff99') %>" >
    <td><%= book.isbn %></td>
    <td><%= book.title %></td>
    <td><%= book.price %></td>
    <td><%= book.publish %></td>
    <td><%= book.published %></td>
    <td><%= book.cd %></td>
  </tr>
<% end %>
</table>
<br>
<table border="1">
  <tr>
    <th>ISBNコード</th><th>書名</th><th>価格</th>
    <th>出版社</th><th>刊行日</th><th>CD-ROM</th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td style="background-color:<%= cycle('#FFffFF', '#FFff99') %>">
      <%= book.isbn %>
    </td>
    <td style="background-color:<%= current_cycle %>">
      <%= book.title %>
    </td>
    <td style="background-color:<%= current_cycle %>">
      <%= book.price %>
    </td>
    <td style="background-color:<%= current_cycle %>">
      <%= book.publish %>
    </td>
    <td style="background-color:<%= current_cycle %>">
      <%= book.published %>
    </td>
    <td style="background-color:<%= current_cycle %>">
      <%= book.cd %>
    </td>
  </tr>
<% end %>
</table>
<%= debug(@books) %>
